@model TraversalCoreProject.Models.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINEARICONS -->
	<link rel="stylesheet" href="~/Register/fonts/linearicons/style.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/Register/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<img src="images/image-1.png" alt="" class="image-1">
			<form method="post">
				<h3>Yeni Kullanıcı</h3>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input type="text" class="form-control" placeholder="Adınız" asp-for="Name">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input type="text" class="form-control" placeholder="Soyadınız" asp-for="Surname">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input type="text" class="form-control" placeholder="Kullanıcı Adınız" asp-for="UserName">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input type="text" class="form-control" placeholder="Mail Adresiniz" asp-for="Email">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input type="password" class="form-control" placeholder="Şifreniz" asp-for="Password">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input type="password" class="form-control" placeholder="Şifre Tekrarı" asp-for="ConfirmPassword">
				</div>
			
@*				<div class="text-danger" asp-validation-summary="ModelOnly"></div>
*@				
				<button>
					<span>Kayıt Ol</span>
				</button>
			</form>
			<img src="~/Register/images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script src="~/Register/js/jquery-3.3.1.min.js"></script>
	<script src="~/Register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
